.box1{
    background:#aeb;
    padding:20px;
    width: 50%;
    height: 50%;
    position:absolute;
    display:flex;
    align-items: center;
    justify-content: center;
   

}
.box2{
    box-sizing: border-box;
    display: flex;
     align-items: center;
    justify-content: center;
   


    width:70%;
    height:70%;
    border:10px solid black;


    
    background:#fad;
    padding:10px;
    
}

.box2 h3{
    padding:10px;
    background-color: azure;


}